/* stylelint-disable selector-class-pattern, selector-id-pattern -- most classes/IDs are dictated by Azure B2C */

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    color: #616161;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #2765c1;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 1rem;
    transform: scale(1.3);
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

/* .textInput class is not used for all inputs e.g. email and password */
.textInput,
.verifyInput,
#email,
#password,
#signInName,
#signInNamePhoneNumber,
#verificationCode,
#countryCode {
    border-color: #b8b8b8;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding: 16px 12px;
    width: 100%;
}

/* More specific selectors required to override other styles */
input.password--with_toggle,
#password.password--with_toggle {
    /* Make space for password-toggle width + extra to avoid Safari forcing it onto a newline */
    padding-right: 54px;
}

.password-toggle::before {
    /* Force password-toggle to have height (empty buttons have 0 height) */
    content: "\00a0";
}

.password-toggle {
    /* Same height as password input */
    line-height: 16px;

    /* Overlay password toggle inside password input */

    /* NB: slightly more than width of element as otherwise Safari forces it onto a newline */
    margin-left: -54px;
    padding: 14px 22.5px;
}

.password-toggle__visible {
    background: url("../assets/eye-with-slash.svg") no-repeat center;
}

.password-toggle__hidden {
    background: url("../assets/eye.svg") no-repeat center;
}

#countryCode {
    background: transparent;
}

.entry-item,
.verifyInput,
#email_ver_but_send {
    margin-bottom: 32px;
}

.error {
    color: #d3302f;
    font-weight: 500;
    margin: 8px 0;
}

.helpLink {
    display: none;
}

.sendButton,
.verifyButton,
#sendCode,
#verifyCode,
#verifyPhone,
#continuePhone {
    padding: 8px 16px;
}

.verifyButton,
#sendCode {
    margin-right: 16px;
}

#sendCode {
    margin-top: 32px;
}

#codeVerification {
    margin: 32px 0;
}

.retryCode {
    cursor: pointer;
    font-size: 14px;
}

#verifyCode {
    margin-top: 32px;
}

.buttons.verify {
    color: #00e;
    margin-bottom: 32px;
    text-transform: lowercase;
}

#email_ver_input_label,
#phone_ver_input_label,
#email_label {
    display: block !important;
    
    /* Set to display: inline in the markup itself :'( */
    margin-bottom: 14px;
}

.verificationSuccessText {
    color: #666;
    font-size: 20px;
    line-height: 28px;
}

.dropdown_single {
    margin-bottom: 12px;
}

#SiginInWithKidsLoopCredentials {
    display: none;
}

.header__language-select {
    align-items: center;
    color: #666;
    display: flex;
    justify-content: end;
}

.language-select {
    background: none;
    border: none;
    border-radius: 2px;
    color: #666;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 5px;
    text-align: right;
}

.language-select:hover {
    background: #edeff2;
}

.language-select__icon {
    margin-left: 0.8em;
}

.signin-link {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 8px;
}

.text-link {
    color: #2640bb;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

/* Throbber CSS start */
.lds-roller {
    display: inline-block;
    height: 80px;
    position: relative;
    width: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div::after {
    background: #2765c1;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 7px;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 7px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
    left: 63px;
    top: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
    left: 56px;
    top: 68px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
    left: 48px;
    top: 71px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
    left: 40px;
    top: 72px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
    left: 32px;
    top: 71px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
    left: 24px;
    top: 68px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
    left: 17px;
    top: 63px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
    left: 12px;
    top: 56px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Throbber CSS end */

.buttons button[aria-disabled="true"] {
    opacity: 30%;
}

.buttons button:not([aria-disabled="true"]) {
    opacity: 100%;
}

.verifying-modal {
    display: none;
}

.help-buttons {
    bottom: 3%;
    display: none;
    position: fixed;
    right: 53%;
    text-align: center;
}

.help-button {
    background-color: #669bd2;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 1000px) {

    .textInput,
    .verifyInput,
    #email,
    #password,
    #signInName,
    #signInNamePhoneNumber,
    #verificationCode,
    #countryCode {
        font-size: 18px;
    }

    .language-select {
        font-size: 14px;
    }

    .language-select__icon {
        height: 1.1em;
    }
}

@media only screen and (max-width: 600px) {
    .help-buttons {
        right: unset;
    }

    .signin-link {
        margin-bottom: 3rem;
    }
}
