/* stylelint-disable selector-class-pattern, selector-id-pattern -- most classes/IDs are dictated by Azure B2C */

html {
    background-attachment: fixed;
    background-image: url("../../../../assets/fairground.svg");

    /* Make sure the green line is always at the bottom of the screen */
    background-position: center bottom;
    background-repeat: no-repeat;

    /* https://www.aleksandrhovhannisyan.com/blog/respecting-font-size-preferences-rems-62-5-percent */

    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* reset 10*1.6 = 16px */
    font-size: 1.6rem;
    height: 100%;
}

main {
    margin: auto;
    max-width: 40rem;
    padding: max(10vh, 5rem) 2rem 5rem 2rem;
    text-align: center;
}

button {
    /* Scale button height with viewport */
    padding: clamp(8px, 2vh, 16px) 16px;
}

/* Kidsloop UI elements */

.header {
    align-items: center;

    /* Required for content to "disappear" behind it on scroll */
    background: white;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    height: 4.8rem;
    justify-content: space-between;
    margin: 0;
    padding: 0 1.6rem;
    position: sticky;
    top: 0;
    width: 100%;
}

.header__logo-container {
    flex: 1;
}

.header__logo {
    margin-left: 3%;
    width: 113px;
}

.header__title {
    color: rgb(0 0 0 / 50%);
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 3.2rem;
}

.header__language-select,
.header__right-placeholder {
    flex: 1;
}

.main__title {
    color: #666;
    font-size: clamp(2.4rem, 4.5vw, 4rem);
    font-weight: bold;
    line-height: clamp(3.2rem, 5.5vw, 5.2rem);
    margin-bottom: 3.6rem;
    text-align: left;
}

/* Azure B2C */

.intro {
    color: #666;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
}

.buttons {
    align-content: center;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

#attributeList label {
    display: none;
}

#attributeList li {
    /* Defaults to text-align: center */
    text-align: left;
}

#attributeList {
    /* Space between form input section and buttons */
    margin-bottom: 3.2rem;
}

#attributeList .buttons {
    margin-top: 3.2rem;
}

#requiredFieldMissing {
    /* B2C adds `display: block` styling inline */
    display: none !important;
}

/* Tertiary button */
#cancel {
    background: transparent;
    border: none;
    color: #666;

    /* Show on the left side of continue, rather than the default right */
    order: -1;
}

@media screen and (max-width: 1000px), screen and (max-height: 800px) {
    html {
        background-attachment: fixed;
        background-image: url("../../../../assets/clouds.svg");

        /* Keep the clouds at the top of the screen */
        background-position: top 3.2rem center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1000px) {
    .header__title {
        display: none;
    }

    .header {
        border-bottom: none;
    }
}

@media screen and (min-width: 1001px) {
    html {
        background-size: cover;
    }
}
