/* stylelint-disable selector-class-pattern, selector-id-pattern -- most classes/IDs are dictated by Azure B2C */

.intro,
#cancel,
#ChangePhoneNumber,
.extension_userId_li,
.divider h2,
.verificationSuccessText {
    display: none;
}

.logo {
    width: 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.textInput {
    margin-bottom: 32px;
}

.space-filler {
    display: none;
}

.main-content {
    background-color: #fff;
    min-height: 100vh;
    padding: 18px 16px 35px;
}

.main-heading {
    color: #666;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 21px;
    font-weight: 900;
}

.main-content-wrapper {
    margin: auto;
    max-width: 500px;
}

#email,
#password {
    margin-bottom: 30px;
}

#forgotPassword {
    color: #2765c1;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    text-decoration: none;
}

.create p {
    color: #616161;
    font-size: 14px;
    font-weight: normal;
    margin-top: 1rem;
}

#createAccount {
    font-weight: 500;
    margin-left: 4px;
    text-decoration: none;
}

.changeClaims,
.sendCode,
.sendNewCode,
.verifyCode {
    margin-bottom: 30px;
    padding: 10px 12px;
}

.changeClaims {
    margin-top: 16px;
}

.verifyCode {
    margin-right: 14px;
}

.lower-content {
    color: #666;
    font-size: 14px;
    margin-bottom: 129px;
    margin-top: 1rem;
}

.lower-content a {
    color: #2765c1;
    text-decoration: none;
}

#continue,
#next {
    padding: 16px 0;
    width: 100%;
}

#hasAcceptedPrivacyPolicy_label {
    display: none;
}

@media screen and (min-width: 1000px) {
    body {
        background-color: #baeafd;
    }

    .wrapper {
        display: flex;
    }

    .main-content {
        border-radius: 0 8px 8px 0;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / "25%");
        display: inline-block;
        height: 100vh;
        overflow-y: scroll;
        padding: 18px 40px 40px;
        width: 50vw;
    }

    .space-filler {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        width: 50vw;
    }

    .space-filler-image {
        display: block;
        margin: auto;
        max-height: 100vh;
        max-width: 50vw;
    }
}
